body {
	background-color: #eee;
}

.product-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
	grid-gap: 2rem;
}

.view-more {
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	font-size: 1.15rem;
	color: var(--pink);
	transition: all 0.25s;
}

.view-more:hover {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
}

.view-more.disabled {
	color: var(--gray);
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 80%;
	}
}
@media only screen and (max-width: 576) {
	html {
		font-size: 62.5%;
	}
}
