body {
	background-color: #ddd;
}

.search .field {
	box-shadow: var(--sm-box-shadow);
	border-top-left-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0px;
	background-color: #fff !important;
}

.search .btn {
	box-shadow: var(--sm-box-shadow);
	border-top-left-radius: 0px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 8px;
}

.sort-filter .field {
	background-color: #fff !important;
	box-shadow: var(--sm-box-shadow);
	border-radius: 8px;
	height: 40px;
}

.search .field {
	min-width: 300px;
}

.sort .field {
	min-width: 250px;
}

.filter .field {
	max-width: 180px;
}

#filterBtn {
	height: 40px;
	border-radius: 8px;
}

.product-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
	grid-gap: 2rem;
}

.view-more {
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	font-size: 1.15rem;
	color: var(--pink);
	transition: all 0.25s;
}

.view-more:hover {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
}

.view-more.disabled {
	color: var(--gray);
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 80%;
	}
}
@media only screen and (max-width: 576) {
	html {
		font-size: 62.5%;
	}
}
