.navbar-wrap {
	background: linear-gradient(-180deg, var(--indigo), var(--primary));
	height: 8em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	z-index: 3;
}

.navbar-break {
	margin-top: 8em;
}

.header-item {
	color: #fff !important;
	font-size: 0.85em;
	font-weight: 500;
}

.header-item:hover {
	-webkit-filter: brightness(0.85);
	filter: brightness(0.85);
	cursor: pointer;
}

.header-item:not(:last-child):after {
	content: '';
	height: 100%;
	background-color: rgba(197, 197, 197, 0.85);
	margin: 0 0.5em;
	padding: 0 1px;
}

/* Logo */

.navbar-wrap .logo {
	width: 10em;
	flex-shrink: 0;
}

.navbar-wrap .logo img {
	width: 2.75em;
	height: 2.75em;
}

.navbar-wrap .logo-name {
	font-size: 0.85rem;
	text-transform: uppercase;
	margin-top: 6px;
	color: #fff;
}

/* Location */

.location {
	max-width: 10rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	padding: 6px 8px;
	cursor: pointer;
}

.location p {
	font-size: 0.65rem;
}

.location:hover {
	transition: all 0.35s;
	background-color: rgba(0, 0, 0, 0.25);
}

.location-modal .modal-header {
	background-color: var(--green);
}

.location-modal .modal-title {
	font-size: 0.85rem;
	color: #fff;
}

.location-modal .close {
	color: #fff;
}

.location-modal .modal-body {
	background-color: #f2f2f2;
}

/* Search */
.searchbar .field {
	border-radius: 10px;
	height: 2.5em;
	font-size: 1em;
}

/* Cart */
.cart-wrap {
	flex-basis: 4.25em;
	flex-shrink: 0;
}

.cart {
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
}

.cart-total {
	position: absolute;
	top: -8px;
	right: -15px;
	background-color: var(--orange);
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	text-align: center;
	border-radius: 40px;
	font-weight: 600;
	padding-right: 2px;
	padding-top: 1px;
}

/* Menu */
.menu-item {
	list-style: none;
	margin-right: 0.5em;
}

.menu-item a {
	color: #fff;
	font-size: 0.8em;
}

.menu-item a:hover {
	-webkit-filter: brightness(0.85);
	filter: brightness(0.85);
}

/* Responsive */
@media only screen and (max-width: 992px) {
	.navbar-wrap .container {
		max-width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.navbar-wrap {
		font-size: 80%;
	}

	.navbar-wrap .menu {
		display: none !important;
	}
}

@media only screen and (max-width: 480px) {
	.header-contact {
		display: none;
	}
	.header-auth {
		flex-grow: 1;
		text-align: right;
	}
	.navbar-wrap .logo {
		width: 3rem;
	}
	.location p {
		display: none;
	}
	.navbar-wrap .logo-name {
		display: none;
	}
}
