body {
	background-color: #e5e5e5;
}

.sidebar {
	margin-bottom: 24px;
}

.box {
	background-color: #fff;
	box-shadow: var(--sm-box-shadow);
	border-radius: 12px;
	padding: 1.75rem 1.5rem;
}

.menu {
	padding: 0;
	margin: 0;
}

.sidebar-item {
	list-style: none;
	font-size: 1.15rem;
	margin-bottom: 18px;
}

.sidebar-item * {
	color: var(--gray-dark);
}

.sidebar-item i {
	margin-right: 12px;
}

.sidebar-item.active * {
	color: var(--primary);
	font-weight: bold;
}

.sidebar-item a {
	transition: all 0.25s;
}

.sidebar-item a:hover {
	letter-spacing: 1px;
	color: var(--primary);
}

.user-info-title {
	text-transform: uppercase;
	font-size: 1.35rem;
	color: var(--gray-dark);
	font-weight: bold;
	margin-bottom: 14px;
	position: relative;
	padding-top: 8px;
}

.user-info-title::before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	height: 5px;
	width: 120px;
	background-color: var(--info);
	border-radius: 25px;
}

.table-wrap {
	max-height: 450px;
	overflow-y: auto;
	position: relative;
}

.table-wrap thead {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 80%;
	}
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 70%;
	}
}

@media only screen and (max-width: 992px) {
	.content-wrap .container {
		max-width: 100%;
	}
}
