
extends ../../templates/management.template.pug
include ../../mixins/no-result.mixin.pug
include ../../mixins/toast-msg.mixin.pug

block title
  title Thêm gói nhu yếu phẩm | Người quản trị

block append addStyle
  link(rel="stylesheet", href="/css/management/new-product.css")
  link(rel="stylesheet", href="/vendors/file-input/fileinput.min.css")

block addContent
  +toastMsg(msg,isSuccess)

  .p-4.flex-grow-1
    .flex-center
      form#form.bg-white.p-4.m-0-auto(action="/management/products/new", method="POST", enctype="multipart/form-data")
        .form-title
          h1.title.text-center.mb-4 Thêm gói nhu yếu phẩm
        .d-flex.flex-column
          input#productName.field.mb-3(type="text", name="productName", maxLength="40", required, placeholder="Nhập tên gói", autofocus, value=productName && !isSuccess ? productName: '')
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập giới hạn gói", min="0", max="1000")
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập giới hạn gói theo ngày", min="0", max="1000")
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập giới hạn gói theo tuần", min="0", max="1000")
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập giới hạn gói theo tháng", min="0", max="1000")
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập tổng giá", min="0")
          select#product.product.field.mb-3(name="product")
            option(selected, disabled, hidden, value="") Chọn sản phẩm cho gói
          input#price.field.mb-3(type="number", name="price", placeholder="Nhập SL tối đa của sản phẩm trong gói", min="0")

        button#submitBtn.w-100.submit-btn.btn.btn-primary(type="submit")
          span#loading.d-none.spinner-border.spinner-border-sm.text-border.mr-2(role="status")
          span Thêm


block append addScript
  script(src="/vendors/file-input/plugins/piexif.min.js")
  script(src="/vendors/file-input/plugins/sortable.min.js")
  script(src="/vendors/file-input/fileinput.min.js")
  script(src="/vendors/file-input/plugins/vi.js")
  //- script(src="/js/management/new-product.js")

