
extends ../../templates/management.template.pug
include ../../mixins/no-result.mixin.pug
include ../../mixins/toast-msg.mixin.pug

block title
  title Thêm gói nhu yếu phẩm | Người quản trị

block append addStyle

  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  link(rel="stylesheet", href="/css/management/new-package.css")

block addContent
  +toastMsg(msg,isSuccess)

  .p-4.flex-grow-1.mw-100
    .flex-center
      form#form.bg-white.p-4.m-0-auto.mw-100(action="/management/product-packages/new", method="POST")
        .form-title
          h1.title.text-center.mb-4 Thêm gói nhu yếu phẩm
        .d-flex.flex-column
          input#productPackageName.field.mb-3(type="text", name="productPackageName", maxLength="40", placeholder="Nhập tên gói", autofocus, value=packageName && !isSuccess ? packageName: '')
          input#limitedProducts.field.mb-3(type="number", name="limitedProducts", placeholder="Nhập giới hạn gói", min="0", max="1000")
          input#limitedInDay.field.mb-3(type="number", name="limitedInDay", placeholder="Nhập giới hạn gói theo ngày", min="0", max="1000")
          input#limitedInWeek.field.mb-3(type="number", name="limitedInWeek", placeholder="Nhập giới hạn gói theo tuần", min="0", max="1000")
          input#limitedInMonth.field.mb-3(type="number", name="limitedInMonth", placeholder="Nhập giới hạn gói theo tháng", min="0", max="1000")

          #addedProductBox.bg-white.sm-box-shadow.box-rounded.box.mb-4
            h3.box-title.f-box.toggle-action.mb-0.cur-pointer(data-toggle-target="productBox") Thêm sản phẩm trong gói
              i.bi.bi-chevron-down
            #productBox
              .product-list
                .toggle-form.p-3
                  .addProduct.mb-3
                    select.mb-2#product(name="productId")
                      option(selected, hidden, disabled, value) Chọn sản phẩm
                    input#maxQuantity.field.w-100(type="number", name="maxQuantity", placeholder="Nhập giới sản phẩm trong gói", min="0", max="1000")
                  .text-right.mt-4
                    .btn.btn-primary.product-add-btn Thêm

        button#submitBtn.w-100.submit-btn.btn.btn-primary(type="submit")
          span#loading.d-none.spinner-border.spinner-border-sm.text-border.mr-2(role="status")
          span Thêm gói

block append addScript
  script(src="/vendors/selectize/selectize.min.js")
  script(src="/js/management/new-package.js")

