extends ../../templates/management.template.pug

block addStyle
  style.
    @media only screen and (max-width: 992px) {
      html {
        font-size: 12px;
      }
    }
    @media only screen and (max-width: 480px) {
      html {
        font-size: 8px;
      }
    }

block addContent
  .p-4.flex-grow-1
    h1 Product packages list

    table.table.table-striped.table-light.table-bordered.w-100
      thead.thead-dark
        tr
          th(scope="col") id
          th(scope="col") Name
          th(scope="col") Limited products
          th(scope="col") Limited in day
          th(scope="col") Limited in week
          th(scope="col") Limited in month
      tbody
        each p in packages
          tr
            td
              a(href="#")= p.productPackageId
            td=  p.productPackageName
            td=  p.limitedProducts
            td=  p.limitedInDay
            td=  p.limitedInWeek
            td=  p.limitedInMonth

//-     #pagination
//- block addScript
//-   script.
//-     const pageSize = parseInt("#{pageSize}");
//-     const total = parseInt("#{total}");
//-     const currentPage = parseInt("#{currentPage}");

//-   script(src="/vendors/pagination.min.js")
//-   script(src="/js/management/product-package-list.js")


