extends ../../templates/management.template.pug

block addStyle
  style.
    @media only screen and (max-width: 992px) {
      html {
        font-size: 12px;
      }
    }
    @media only screen and (max-width: 480px) {
      html {
        font-size: 8px;
      }
    }

block addContent
  .p-4.flex-grow-1
    table.table.table-striped.table-light.table-bordered.w-100
      thead.thead-dark
        tr
          //- th(scope="col") id
          th(scope="col") Tên gói
          th(scope="col") Giới hạn SL sản phẩm
          th(scope="col") Giới hạn SL gói/ngày
          th(scope="col") Giới hạn SL gói/tuần
          th(scope="col") Giới hạn SL gói/tháng
          th(scope="col") Hành động
      tbody
        each p in packages
          tr
            //- td
            //-   a(href="/management/product-packages/list", data-toggle="modal", data-target="#exampleModal", data-whatever="#mdo")= p.productPackageId
            td=  p.productPackageName
            td=  p.limitedProducts
            td=  p.limitedInDay
            td=  p.limitedInWeek
            td=  p.limitedInMonth
            td.text-center
              i.mgmt-icon.edit-icon.bi.bi-pencil-fill.px-2
              i.mgmt-icon.info-icon.bi.bi-info-circle-fill.px-2(type="button", data-toggle="modal", data-target="#exampleModal", data-whatever="#idPackage")

              //- i.mgmt-icon.info-icon.bi.bi-info-circle-fill.px-2


    //- button.btn.btn-primary(type="button", data-toggle="modal", data-target="#exampleModal", data-whatever="#mdo") Package #mdo
    //- button.btn.btn-primary(type="button", data-toggle="modal", data-target="#exampleModal", data-whatever="#fat") Package #fat
    //- button.btn.btn-primary(type="button", data-toggle="modal", data-target="#exampleModal", data-whatever="#getbootstrap") Package #getbootstrap
    .modal.fade#exampleModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title#exampleModalLabel Package
          .modal-body
            table.table.table-striped.table-light.table-bordered.w-100
              thead.thead-dark
                tr
                  th(scope="col") Tên sản phẩm
                  th(scope="col") SL tối đa
                  th(scope="col") SL hiện tại
              tbody
                each p in packages
                  tr
                    td=  p.productPackageName
                    td=  p.limitedProducts
                    td=  p.limitedInDay
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close

    #pagination
block addScript
  script.
    const pageSize = parseInt("#{pageSize}");
    const total = parseInt("#{total}");
    const currentPage = parseInt("#{currentPage}");

  script(src="/vendors/pagination.min.js")
  script(src="/js/management/product-package-list.js")


