mixin footer
  section.footer.py-3.bg-white
    .container.text-center
      h2.text-uppercase(style="font-size:1.25rem;font-weight:600") Công ty TNHH quản lý dịch bệnh Covid Project
      p.text-gray.mb-2 #[b Chi nhánh:]&nbsp;số 190, đường Điện Biên Phủ, phường Bình Thạnh, Quận Bình Thạnh, HCM
      p.text-gray.mb-2 #[b Hotline:]&nbsp;099 888 7777
      p.text-gray.mb-2 #[b Website:]&nbsp;#[a.text-info(href="https://covid-project.com.vn/") https://covid-project.com.vn/]
      p.text-gray.mb-2 #[b Email:]&nbsp; cskh@hotro.covidproject.vn
      p.mb-0.text-center.text-gray © 2021 - Bản quyền thuộc về Công ty TNHH Covid Project

