mixin navbar
  -
    const navbarMenu = [
      { label: 'Rau củ sạch', keyword: 'rau củ sạch' },
      { label: 'Thịt tươi', keyword: 'thịt tươi' },
      { label: 'Trái cây', keyword: 'trái cây' },
      { label: 'Nước uống', keyword: 'Nước uống' },
      { label: 'Gia vị', keyword: 'gia vị' },
    ]

  link(rel="stylesheet", href="/css/user/navbar.css")
  .navbar-wrap
    .container.h-100.d-flex.flex-column
      .header.center-vertical.justify-content-between.py-2
        .header-contact.center-vertical
          span.header-item Liên hệ: 099 888 7777
          a.header-item(href="https://fb.com", target="_blank")
            i.bi.bi-facebook
          a.header-item(href="https://instagram.com", target="_blank")
            i.bi.bi-instagram
        .header-auth
          if !user
            a.header-item(href="/auth/signup") Đăng ký
            a.header-item(href="/auth/login") Đăng nhập
          else
            a.header-item(href="/auth/logout") Đăng xuất
            a.header-item(href="/customer/" + user.username)= user.username

      .flex-grow-1.center-vertical.justify-content-between
        //- Logo
        a.logo.flex-center.flex-column(href="/")
          img(src="/images/favicon.png", alt="Logo")
          h1.logo-name.mb-0 Covid Project

        //- Searchbar
        .flex-grow-1.mx-4
          div.searchbar.position-relative
            input.field.w-100.bg-white(type="text", placeholder="Bạn muốn tìm gì ...")
            i.bi.bi-search.field-end-icon
          ul.menu.center-vertical.mb-0.pl-2.mt-1
            each menuItem in navbarMenu
              li.menu-item
                a(href="?keyword=" + menuItem.keyword)= menuItem.label

        //- Cart
        .cart-wrap.flex-center
          a(href="/cart")
            i.bi.bi-cart-fill.cart.position-relative
              if cartTotal
                span.cart-total= cartTotal
