mixin noResult(className, href)
  .text-center
    img.mw-100.m-0-auto.d-block(class=className, src="https://res.cloudinary.com/dynonary/image/upload/v1639142568/ptud-web/covid-project/no-data.jpg", alt="No result")
    button.btn.btn-success.mt-3.mx-auto.px-4.py-2 #[a.text-light(href=href) Quay lại]
