extends ./templates/general.template.pug

block title
  title Tạo mật khẩu | Covid Project

block append style
  link(rel="stylesheet", href="/css/auth-form.css")

block content
  .wrapper
    .toast-msg#toastMsg
    .container-wrapper.p-2.flex-center.w-100.h-100
      .form-wrap.d-flex.justify-content-between
        .form-picture
          img(src="https://res.cloudinary.com/dynonary/image/upload/v1638761244/ptud-web/covid-project/login-icon.png", alt="System Icon")
        form#pwdForm.m-0-auto(action="/auth/create-password/" + username, method="POST")
          .form-title
            h1.title.text-center Tạo mật khẩu mới
            p.sub-title.text-center Lần đầu truy cập, hãy tạo một mật khẩu cho tài khoản #[b #{username}].
          .d-flex.flex-column
            .position-relative.mb-3
              input#password.field.w-100(type="password", name="password", maxLength="50", required, placeholder="Nhập mật khẩu")
              i.field-end-icon.bi.bi-eye-slash-fill.view-password-icon
            .position-relative.mb-3
              input#confirmPw.field.w-100(type="password", maxLength="50", required, placeholder="Nhập lại mật khẩu")
              i.field-end-icon.bi.bi-eye-slash-fill.view-password-icon
          button#submitBtn.submit-btn.btn.btn-primary(type="submit") Khởi tạo

block append script
  script(src="/js/create-password.js")
