doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title products
style.
 .card{
   width: 300px;
   height: 300px;
   margin: 100px;
 }
block addContent
.container

  .row
    each val in result
      form(action=`/product/detail/${val.productId}`, method='POST', role='form')
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
          .card.text-left
            img.card-img-top(src=`${val.ProductImages[2].src}` alt='')
            .card-body
              h4.card-title #{val.productName}
              p.card-text $#{val.price}
              button.btn.btn-primary(type='submit') Detail


<script>
  alert('daskdjsakdj')
</script>
