doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title products
style.
  .row {
  margin: 100px 0 0 0;
  }
  .col-xs-3 {
    margin: 50px 0;
    float: right
  }
  .btn-primary {
    float: right;
  }
block addContent
.container

  .row
        .col-xs-3.col-sm-3.col-md-3.col-lg-3
          .card.text-left
            .card-body
              h4.card-title #{prod.productName}
              p.card-text $#{prod.price}


