extends ../templates/user-info.template.pug

block title
  title Covid Project | Thay đổi mật khẩu

block append style
  link(rel="stylesheet", href="/css/user/change-password.css")

block addContent
  h1.user-info-title Thay đổi mật khẩu
  .form-box(style="max-width: 420px")
    .form-form
      form#pwdForm(action="/user/info/change-password", method="POST")
        mixin passwordField(name, title)
          .form-group
            label.form-control-label(for=name)= title
            .position-relative.mb-5
              input.form-control.field(type="password", id=name name=name, maxLength="50")
              i.bi.bi-eye-slash-fill.view-password-icon

        +passwordField("oldPassword", "MẬT KHẨU HIỆN TẠI")
        +passwordField("newPassword", "MẬT KHẨU MỚI")
        +passwordField("confirmPw", "NHẬP LẠI MẬT KHẨU MỚI")

        .p-0.mb-4.d-flex.justify-content-between.align-items-center
          .form-text.text-danger#formMsg= msg ? msg : ""
          .form-button
            button.btn.btn-primary.w-100(type="submit") Cập Nhật

block append addScript
  script(src="/js/user/change-password.js")
