extends ../templates/user-info.template.pug

block title
  title Covid Project | Xem dư nợ

block append style
  style.
    span.label {
      color: var(--dark);
      font-weight: 500;
      text-transform: capitalize;
    }
    .debt-info p {
      font-size: 1.15rem;
      letter-spacing: 0.5px;
    }

block addContent
  h1.user-info-title Thông tin dư nợ của bạn
  .debt-info
    if debtInfo
      - const { debt, returned, status } = debtInfo;
      - const { minimumLimit, maximumDebt } = paymentLimit;
      - const remainingDebt = debt - returned;
      - const minimumDebt = Math.round(minimumLimit * remainingDebt / 100)
      p #[span.label Tổng số nợ hiện tại:] #[span= helpers.formatCurrency(debt)]
      p #[span.label Tổng số tiền đã trả:] #[span= helpers.formatCurrency(returned)]
      p #[span.label Số tiền còn lại phải trả:] #[span= helpers.formatCurrency(remainingDebt)]
      p #[span.label Hạn mức thanh toán tối thiểu định kỳ ] #[span.text-danger (#{minimumLimit}%):] #[span= helpers.formatCurrency(minimumDebt)]
      p #[span.label Đã thanh toán hạn mức tối thiểu trong kỳ:] #[span= status === 1 ? 'Đã thanh toán' : 'Chưa thanh toán']
      p #[span.label Số tiền mượn tối đa:] #[span= helpers.formatCurrency(maximumDebt)]
      p #[span.label Kỳ thanh toán tiếp theo:] #[span= helpers.formatDateToStr(nextTerm)]
      if status === 0 || remainingDebt !== 0
        .text-right
          button.btn.btn-info
            a.text-light(href="/user/payment/put-money") Thanh toán dư nợ #[i.ml-2.bi.bi-credit-card-fill]
    else
      p.text-center.text-gray.mb-0 Bạn không có bất kỳ dư nợ nào.
