extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/package-card.mixin.pug
include ../mixins/scroll-top.mixin.pug

block append style
  link(rel="stylesheet", href="/css/user/package-card.css")
  link(rel="stylesheet", href="/css/user/home.css")

block content

  .page-container
    section.content-wrap
      +navbar
      .navbar-break

      .container.py-5
        .product-list
          - const products = [{productName: "Sản phấm 1", price: 12345, unit: "Ký"}, {productName: "Sản phấm 2", price: 23211, unit: "Cái"}];
          each i in new Array(24).fill(0)
            .px-2
              +packageCard(
              1,
              "Nấm mỡ trắng Yoshi tươi hộp 150g",
              "https://cdn.tgdd.vn/Products/Images/8779/233788/bhx/nam-mo-trang-hop-150g-202101292221292506_300x300.jpg",
              "53.000vnd",
              products,
              "Khuyến mãi",
              "54.000vnd"
              )
        p#viewMore.view-more.mt-5 Xem thêm gói sản phẩm #[i.bi.bi-chevron-double-down]
    +footer
    +scrollTop

block append script
  script(src="/js/user/home.js")
