extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/package-card.mixin.pug
include ../mixins/scroll-top.mixin.pug

block append style
  link(rel="stylesheet", href="/css/user/package-card.css")
  link(rel="stylesheet", href="/css/user/home.css")

block content

  .page-container
    section.content-wrap
      +navbar
      .navbar-break

      .container.py-5
        .product-list
          if packages
            each productPackage in packages
              - const { productPackageId, productPackageName, thumbnail, products } = productPackage;
              - const totalPrice = helpers.totalPrice(products), discount = helpers.randomFakeDiscount(totalPrice);
              - const badge = discount ? "Khuyến mãi" : "";
              +packageCard(
              productPackageId,
              productPackageName,
              thumbnail,
              helpers.formatCurrency(totalPrice),
              products,
              badge,
              discount,
              )
        p#viewMore.view-more.mt-5 Xem thêm gói sản phẩm #[i.bi.bi-chevron-double-down]
    +footer
    +scrollTop

block append script
  script(src="/js/scroll-top.js")
  script(src="/js/user/home.js")
