extends ../templates/user-info.template.pug

block title
  title Covid Project | Thông tin tài khoản

block append style
  style.
    span.label {
      color: var(--dark);
      font-weight: 500;
      text-transform: capitalize;
    }
    .account-info p {
      font-size: 1.15rem;
      letter-spacing: 0.5px;
    }

block addContent
  h1.user-info-title Thông tin tài khoản
  .account-info
    p #[span.label Họ tên:] #[span= findUser.fullname]
    p #[span.label username:] #[span= user.username]
    p #[span.label CMND/CCCD:] #[span=findUser.peopleId]
    p #[span.label Ngày sinh:] #[span=findUser.DOB]
    p #[span.label Địa chỉ:] #[span=address.details + " Quận " + address.wardId]
    p #[span.label username người quản lý:] #[span=manager.username]
    p #[span.label Trạng thái bệnh:] #[span='F' + findUser.statusF]
