extends ../templates/user-info.template.pug

block title
  title Covid Project | Lịch sử được quản lý

block addContent
  h1.user-info-title Lịch sử được quản lý
  if treatmentHistories && treatmentHistories.length > 0
    .table-wrap
      table.table.table-striped
        thead.thead-dark
          tr
            th(scope="col") Khu cách ly
            th(scope="col") Tình trạng
            th(scope="col") Ngày bắt đầu
            th(scope="col") Ngày kết thúc
        tbody
          each th in treatmentHistories
            tr
              td= th.isolationFacilityName
              td= helpers.convertStatusFToStr(th.statusF)
              td= helpers.formatDateToStr(th.startDate)
              td= helpers.formatDateToStr(th.endDate)
  else
    p.text-center.text-gray.mb-0 Bạn mìm thấy ghi nhận quản lý nào.
