extends ../templates/user-info.template.pug

block addContent
  h1.user-info-title Lịch sử thanh toán
  .table-wrap
    table.table.table-striped
      thead.thead-dark
        tr
          th(scope="col") Mã TT
          th(scope="col") Ngày TT
          th(scope="col") Tổng tiền
          th(scope="col") Số dư
          th(scope="col") Nội dung
      tbody
        each item, index in new Array(20).fill(1)
          tr
            td 19187281
            td 18-10-2021
            td 19.000đ
            td 5.250.000đ
            td #{index % 2 ? "Nạp tiền" : "Mua gói nhu yếu phẩm"}
