extends ../../templates/management.template.pug
include ../../mixins/chartjs-script.mixin.pug

block title
  title Thống kê trạng thái theo từng giai đoạn | Covid Project

block append addStyle
  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  style.
    .wrapper .field, .selectize-input{
      box-shadow: var(--sm-box-shadow) !important;
      background-color: #fff !important;
      border-radius: 25px;
      height: 2.5rem !important;
      color: var(--gray) !important;
    }

    .chart-wrap {
      max-width: 30rem;
      max-height: 30rem;
      margin: 3.5rem auto 0;
    }

    .selectize-input {
      min-width: 15rem;
    }

block addContent
  .p-3.flex-grow-1.wrapper
    h1.title.mt-3 Thống kê trạng thái theo từng giai đoạn
    .center-vertical.my-4
      .d-flex.flex-column
        label.pl-2.text-gray(for="startDate") Ngày bắt đầu
        input.field#startDate(type="date", placeholder="Ngày bắt đầu")
      .d-flex.flex-column.mx-4
        label.pl-2.text-gray(for="endDate") Ngày kết thúc
        input.field#endDate(type="date", placeholder="Ngày kết thúc")
      .d-flex.flex-column
        label.pl-2.text-gray(for="province") Chọn tỉnh thành
        select#province
          option(value="0",selected) Phạm vi toàn quốc
          if provinces
            each p in provinces
              option(value=p.id)= p.name

    .chart-wrap
      canvas#chart.w-100.h-100
block append addScript
  script(src="/vendors/selectize/selectize.min.js")
  +chartjsScript

  script.
    const chartDataRaw = "#{chartData}";
    const chartData = chartDataRaw ? chartDataRaw.split(',').map(i=>Number(i)) : []

  script(src="/js/management/statusf-time.js")
